body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    
}
table {
    border-radius: 7px;
    border-width: 3px;
    width: 80%;
    height:10%;
    border-color:rgb(61, 183, 192);
    background-color: white;
    margin-left:20px auto;
    margin-right: 20px auto;
}
th {
    background-color: azure;
    color: crimson;
    font-family: sans-serif;
    text-align: center;
}
h2 {
    color: white;
    font-size: 35px;
    padding:10px;
    margin: auto 0;
    position: relative;
}
.notfound {
    text-align: center;
    color: darkblue;
}
tr {
    color: darkblue;
}
.logout{
    
    text-align:left;
    margin-top:10px;
    margin-left:10%;
    align-items: left;
}
