<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script type="text/javascript" src="/public/js/studentvalid.js"></script>  

    <link rel="stylesheet" href="/public/css/studentsignup.css">
    <title>Student | Signup</title>
</head>
<body>
    <div class="container">
        <div class="simpl-btn">
            <button  class="btn btn-primary" title="Click to go Dashboard" onclick=" window.location.href='/' ">Dashboard</button>
        </div>
        <div class="two  title alt-two">
            <h1>Student Marksheet
            </h1>
        </div>
        <div class="card forms-container">
            <form action="/student/signup" method="POST" onsubmit="return checkPassword(this);" name="form"  id="form"  >
                <h2 class="tit"> Sign up</h2>
                <p class="subtitle">Already Register? <a href="/student/login"> Login In</a></p>
                <div class="social-login">
                </div>
                <p class="or"><span>or</span></p>
                <div class="email-login">
                    <input type="text" id="name" name="name" placeholder="Name *" onkeyup=" return namecheck()"
                        onmouseout="namedone()" required>
                </div>
                <span id="text1"></span>
                <div class="email-login ">
                    <input type="text" name="roll_no" placeholder="Roll Number Ex. 18ITXX *" id="roll_no" required>
                </div>
                <div class="email-login">
                    <input type="text" id="email" name="email" placeholder="Email*" onkeydown="validation()"
                        onmouseout="done()" required>
                </div>
                <span id="text2"></span>
                <div class="email-login">
                    <input type="password" id="password" placeholder="Password *" name="password" required>
                </div>
                <div class="email-login">
                    <input type="Password" id="password1" placeholder="Confirm Password *" name="password1" required>
                </div>
                <p class="white">Gender : <input type="radio" value="Male" name="gender" required> Male <input
                        type="radio" value="Female" name="gender" required> Female</p>
                <div>
                    <p class="check"><input type="checkbox" class="Checkbox" onclick="myShow()">Show Password</p>
                </div>
                <button class="cta-btn">Log In</button>
            </form>
        </div>
    </div>
</body>
<script>
    function myShow() {
        var x = document.getElementById("password");
        var y = document.getElementById("password1");
        if ((x.type === "password") && (y.type === "password")) {
            x.type = "text";
            y.type = "text";
        } else {
            x.type = "password";
            y.type = "password";
        }
    }
</script>
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>